<table class="table table-striped table-hover" id="product-list-template">
    <tr>
        <th>Cover</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {{#each products }}
    <tr>
        <td>
            <img src="{{cover_arr}}" class="img-fluid" alt="Image">
        </td>
        <td>{{name}}</td>
        <td>{{brand}}</td>
        <td>{{price}} VND</td>
        <td><a class="btn btn-default" href="products/edit/{{_id}}" method="get">Edit</a></td>
        <td>
            <form action="products/delete/{{_id}}" method="post">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {{/each}}
</table>
<script type="text/x-handlebars" id="products">
    <tr>
        <th>Cover</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    \{{#each products }}
    <tr>
        <td>
            <img src="\{{cover_arr}}" class="img-fluid" alt="Image">
        </td>
        <td>\{{name}}</td>
        <td>\{{brand}}</td>
        <td>\{{price}} VND</td>
        <td><a class="btn btn-default" href="products/edit/\{{_id}}" method="get">Edit</a></td>
        <td>
            <form action="products/delete/\{{_id}}" method="post">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </td>
    </tr>
    \{{/each}}

</script>